# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HiddenVilla.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Webseiten\HiddenVilla\HiddenVilla\.idea\.idea.HiddenVilla\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
